<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>
    <h2>Perfil de Usuario</h2>
    
    <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
    <p><strong>Correo Electrónico:</strong> {{ user.email }}</p>

    <!-- Puedes agregar más información del perfil del usuario aquí si es necesario -->

    <a href="{% url 'logout' %}">Cerrar Sesión</a>
</body>
</html>
